$primary: #396afc;
$secondary: #2948ff;
$base-text: #313131;
$whatsapp: #25d366;
$google-maps: #e83c2e;
$white: #fff;

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

//Placeholder
::-webkit-input-placeholder {
  color: #aaa;
}
:-ms-input-placeholder {
  color: #aaa;
}
::placeholder {
  color: #aaa;
}
//Selection
::-moz-selection {
  /* Code for Firefox */
  color: $white;
  background: $primary;
}
::selection {
  color: $white;
  background: $primary;
}

hr {
  margin: 2%;
  background-color: $primary;
  border-radius: 6px;
  border: 0;
  height: 1px;
}

body,
input,
textarea,
button {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  border: none;
  color: $base-text;
  resize: none;
}

input:focus,
textarea:focus,
button:focus {
  border: 2px solid $primary;
}

textarea {
  height: 80px !important;
  padding-top: 10px;
}

.primary-button {
  width: 300px;
  height: 44px;
  border-radius: 6px;
  background: $primary;
  background: -webkit-linear-gradient(to right, $secondary, $primary);
  background: linear-gradient(to right, $secondary, $primary);
  color: $white;
  font-size: 1.8em;
  font-weight: 700;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.4);

  &:hover {
    background: $secondary;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.4);
  }
  &:active {
    transform: translateY(2px);
    transition: 0.1s;
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.4);
  }
}

.secondary-button {
  width: 300px;
  height: 44px;
  border-radius: 6px;
  background: $white;
  border: $primary 2px solid;
  color: $primary;
  font-size: 1.8em;
  font-weight: 700;
  transition: 0.2s;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.4);

  &:hover {
    background: lighten($primary, 30%);
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.4);
  }
  &:active {
    transform: translateY(2px);
    transition: 0.1s;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.4);
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}

.system {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;

  &__guides {
    width: 300px;
    margin: 0 auto;
    &__option {
      width: 300px;
      font-size: 1.8em;
      margin-bottom: 12px;
      i {
        font-size: 1em;
        margin-right: 4px;
        margin-top: 0px;
      }
    }
  }

  &__order-details {
    width: 100%;
    height: 66%;
    margin: 0 auto;
    border-radius: 6px;
    border: 1px solid $primary;
    box-shadow: inset 0 -8px 16px -8px rgba(0, 0, 0, 0.22);
    overflow-y: auto;
    &__title {
      font-size: 2.4em;
      text-align: center;
      margin-top: 8px;
      color: $primary;
    }
    &__observation {
      font-size: 1.6em;
      padding-left: 2%;
      margin-bottom: 12px;
      line-height: 1.6em;
    }
    &__left {
      width: 44.3%;
      height: 60%;
      padding: 2%;
      position: relative;
      text-align: center;
      float: left;
      &__subtitle {
        font-size: 1.8em;
        margin-top: 0;
        color: $primary;
        margin-bottom: 0;
      }
      &__image-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2%;
        &__picture {
          border-radius: 6px;
          margin: auto;
          img {
            max-width: 100%;
            max-height: auto;
          }
        }
      }
    }
    &__center {
      width: 1px;
      padding-left: 1.4%;
      height: 60%;
      border-right: 1px solid $primary;
      position: relative;
      float: left;
      margin: 8% auto;
    }
    &__right {
      width: 44.3%;
      height: 75%;
      padding: 2%;
      position: relative;
      text-align: center;
      float: right;
      &__subtitle {
        font-size: 1.8em;
        margin-top: 0;
        color: $primary;
        margin-bottom: 0;
      }
    }
  }
  &__form {
    width: 100%;
    margin: 0 auto;
    &__title {
      margin-top: 0px;
      margin-bottom: 6px;
      font-size: 2.2em;
      color: $primary;
    }
    &__left {
      width: 44%;
      float: left;
      position: relative;
    }
    &__right {
      margin-right: 4%;
      width: 44%;
      float: right;
      position: relative;
    }
    &__label {
      font-size: 1.8em;
      padding-left: 2px;
      &-alt {
        width: 100%;
        font-size: 1.8em;
        padding-left: 2px;
      }
    }
    &__input {
      width: 300px;
      height: 40px;
      border-radius: 6px;
      padding-left: 8px;
      font-size: 1.8em;
      border: 2px solid $primary;
      margin-top: 4px;
      margin-bottom: 16px;
      &-alt {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        padding-left: 8px;
        font-size: 1.8em;
        border: 2px solid $primary;
        margin-top: 4px;
        margin-bottom: 16px;
      }
    }
    &__submit {
      width: 100%;
      i {
        margin-right: 6px;
      }
    }
  }
  &__logo {
    width: 289px;
    display: fixed;
    margin-top: 24px;
    top: 0;
    a {
      font-size: 4em;
      cursor: pointer;
    }
    embed {
      pointer-events: none;
    }
  }
  &__quick-access {
    display: block;
    position: fixed;
    top: 156px;
    i {
      margin-right: 6px;
    }
    &__call {
      width: 300px;
    }
    &__whatsapp {
      margin: 18px 0;
      width: 300px;
      height: 44px;
      border-radius: 6px;
      background-color: $whatsapp;
      border: $whatsapp 2px solid;
      color: $white;
      font-size: 1.8em;
      font-weight: 700;
      transition: 0.2s;
      box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.4);

      &:hover {
        background-color: lighten($whatsapp, 3%);
        cursor: pointer;
        transition: 0.2s;
        box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.4);
      }
      &:active {
        transform: translateY(2px);
        background-color: $whatsapp;
        transition: 0.1s;
        box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.4);
        color: $white;
      }
    }
    &__maps {
      width: 300px;
      height: 44px;
      border-radius: 6px;
      background-color: $google-maps;
      border: $google-maps 2px solid;
      color: $white;
      font-size: 1.8em;
      font-weight: 700;
      transition: 0.2s;
      box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.4);

      &:hover {
        background-color: lighten($google-maps, 3%);
        cursor: pointer;
        transition: 0.2s;
        box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.4);
      }
      &:active {
        transform: translateY(2px);
        background-color: $google-maps;
        transition: 0.1s;
        box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.4);
        color: $white;
      }
    }
  }
  &__search {
    position: fixed;
    margin-bottom: 146px;
    bottom: 0;
    &__input {
      width: 166px;
      height: 40px;
      border-radius: 6px;
      padding-left: 8px;
      font-size: 1.8em;
      border: 2px solid $primary;
      margin-top: 2px;
    }
    &__button {
      width: 108px;
      height: 44px;
      margin-left: 12px;
      float: right;
      margin-top: 2px;
      i {
        margin-left: 6px;
      }
    }
  }
  &__add {
    position: fixed;
    margin-bottom: 88px;
    bottom: 0;
    &__button {
      width: 300px;
      i {
        margin-right: 6px;
      }
    }
  }
  &__help {
    position: fixed;
    bottom: 0;
    margin-bottom: 24px;
    &__button {
      width: 192px;
      border-radius: 6px;
      i {
        margin-right: 6px;
      }
    }
  }
  &__search-results {
    width: 100%;
    height: 66%;
    border: 2px solid $primary;
    border-radius: 6px;
    overflow-y: auto;
    &__result {
      border: 2px solid $primary;
      border-radius: 6px;
      width: 96%;
      height: 32px;
      margin: 2% auto;
      p {
        font-size: 1.8em;
        text-align: center;
        line-height: 0.2em;
        margin-top: 16px;
      }
    }
  }
}
