$primary: #396afc;
$secondary: #2948ff;
$base-text: #333;
$white: #fff;

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
button {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  border: none;
  color: $base-text;
}

.primary-button {
  width: 172px;
  height: 44px;
  border-radius: 6px;
  background: $primary;
  background: -webkit-linear-gradient(to right, $secondary, $primary);
  background: linear-gradient(to right, $secondary, $primary);
  color: $white;
  font-size: 1.8em;
  font-weight: 700;

  &:hover {
    background: $secondary;
    cursor: pointer;
  }
  &:active {
    background: darken($secondary, 10%);
  }
}

.secondary-button {
  width: 172px;
  height: 44px;
  border-radius: 6px;
  background: $white;
  border: $primary 2px solid;
  color: $primary;
  font-size: 1.8em;
  font-weight: 700;
  transition: 0.2s;

  &:hover {
    background: $primary;
    color: $white;
    cursor: pointer;
  }
  &:active {
    background: darken($primary, 10%);
    color: $white;
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}

.system {
  width: 100%;
  height: 100%;
  padding: 12px;
  margin: 0 auto;

  &__logo {
    width: 100%;
    height: 15%;
  }
  &__search {
    width: 100%;
    height: 40px;
    margin-bottom: 6%;
    &__input {
      width: 66%;
      height: 40px;
      margin-right: 2%;
      border-radius: 6px;
      padding-left: 8px;
      font-size: 1.8em;
      border: 2px solid $primary;
      margin-top: 2px;
    }
    &__button {
      width: 32%;
      height: 40px;
      i {
        margin-left: 6px;
      }
    }
  }
  &__updates {
    width: 100%;
    height: 50%;
    border: 2px solid $primary;
    border-radius: 6px;
  }
  &__add {
    margin-top: 6%;
    margin-bottom: 6%;
    &__button {
      width: 100%;
      i {
        margin-right: 6px;
      }
    }
  }
  &__help {
    width: 100%;
    height: 2%;
    border-radius: 6px;
    margin: 6% auto;
    &__button {
      width: 60%;
      margin-left: 20%;
      i {
        margin-right: 6px;
      }
    }
  }
  &__search-results {
    width: 100%;
    height: 60%;
    border: 2px solid $primary;
    border-radius: 6px;
  }
}
