.modal#PopUpErroCadastro
  .modal__content
    .modal__content__close(onclick="fecharPopUp()")
      i#fecharModal.fas.fa-times
    .modal__content__text desculpe, não foi possível cadastrar a ordem.
    .modal__content__buttons
      input#confirmarRemocao.primary-button(type="button" value="tentar novamente" onclick="fecharPopUp()")
      input#cancelarRemocao.secondary-button(type="button" value="voltar para a tela inicial" onclick="paraIndex()")