.modal
  .modal__content#AjudaConsulta
    .modal__content__close 
      i#fecharModal.fas.fa-times
    .modal__content__text tem certeza que deseja #[strong remover esta imagem?]
    .modal__content__buttons
      input#confirmarRemocao.detructive-button(type="button" value="sim, remover imagem")
      input#cancelarRemocao.secondary-button(type="button" value="não, cancelar remoção")

  .modal__content#AjudaCadastro
    .modal__content__close 
      i#fecharModal.fas.fa-times
    .modal__content__text tem certeza que deseja #[strong remover esta imagem?]
    .modal__content__buttons
      input#confirmarRemocao.detructive-button(type="button" value="sim, remover imagem")
      input#cancelarRemocao.secondary-button(type="button" value="não, cancelar remoção")

.modal__content#AjudaAlteracao
    .modal__content__close 
      i#fecharModal.fas.fa-times
    .modal__content__text tem certeza que deseja #[strong remover esta imagem?]
    .modal__content__buttons
      input#confirmarRemocao.detructive-button(type="button" value="sim, remover imagem")
      input#cancelarRemocao.secondary-button(type="button" value="não, cancelar remoção")  

  .modal__content#AjudaAdicaoImagens
    .modal__content__close 
      i#fecharModal.fas.fa-times
    .modal__content__text tem certeza que deseja #[strong remover esta imagem?]
    .modal__content__buttons
      input#confirmarRemocao.detructive-button(type="button" value="sim, remover imagem")
      input#cancelarRemocao.secondary-button(type="button" value="não, cancelar remoção")

  .modal__content#AjudaRemocaoImagens
    .modal__content__close 
      i#fecharModal.fas.fa-times
    .modal__content__text tem certeza que deseja #[strong remover esta imagem?]
    .modal__content__buttons
      input#confirmarRemocao.detructive-button(type="button" value="sim, remover imagem")
      input#cancelarRemocao.secondary-button(type="button" value="não, cancelar remoção")

  .modal__content#AjudaExtraAtalhos
    .modal__content__close 
      i#fecharModal.fas.fa-times
    .modal__content__text tem certeza que deseja #[strong remover esta imagem?]
    .modal__content__buttons
      input#confirmarRemocao.detructive-button(type="button" value="sim, remover imagem")
      input#cancelarRemocao.secondary-button(type="button" value="não, cancelar remoção")