.modal#PopUpErroBusca
  .modal__content
    .modal__content__close(onclick="fecharPopUp()")
      i#fecharModal.fas.fa-times
    .modal-ajuda__content__title algo deu errado
    .modal__content__text desculpe, ordem não encontrada.
    .modal__content__buttons
      input#confirmarRemocao.primary-button(type="button" value="criar esta ordem" onclick="CadastrarOrdemBuscada()")
      input#cancelarRemocao.secondary-button(type="button" value="voltar para a tela inicial" onclick="paraIndex()")