.modal#PopUpExclusao
  .modal__content
    .modal__content__close(onclick="fecharPopUp()")
      i.fas.fa-times
    .modal-ajuda__content__title cuidado!
    .modal__content__text tem certeza que deseja #[strong excluir esta ordem?]
    .modal__content__buttons
      input.detructive-button(type="button" value="sim, excluir ordem" onclick="ExcluirOrdem()")
      input.secondary-button(type="button" value="não, cancelar exclusão" onclick="fecharPopUp()")