.modal
  .modal__content
    .modal__content__close 
      i#fecharModal.fas.fa-times
    .modal__content__text tem certeza que deseja #[strong remover esta imagem?]
    .modal__content__buttons
      input#confirmarRemocao.detructive-button(type="button" value="sim, remover imagem")
      input#cancelarRemocao.secondary-button(type="button" value="não, cancelar remoção")