.modal#PopUpErroBuscaIntervalo
  .modal__content
    .modal__content__close(onclick="fecharPopUp()")
      i#fecharModal.fas.fa-times
    .modal-ajuda__content__title algo deu errado
    .modal__content__text número inválido, digite um número de 1 até 9999.
    .modal__content__buttons
      input.primary-button(type="button" value="tentar novamente" onclick="fecharPopUp()")