.modal#PopUpConfirmacaoAlteracao
  .modal__content
    .modal__content__close 
      i#fecharModal.fas.fa-times
    .modal__content__text 
    .modal__content__buttons
      input#confirmarAlteracao.detructive-button(type="button" value="sim, alterar observação")
      input#cancelarAlteracao.secondary-button(type="button" value="não, cancelar alteração")