.modal#PopUpObservacao
  .modal__content
    .modal__content__close 
      i.fas.fa-times(onclick="fecharPopUp()")
    .modal-ajuda__content__title observacao
    .modal__content__text 
    .modal__content__buttons
      input.primary-button(type="button" value="voltar para a ordem" onclick="fecharPopUp()")
      input.secondary-button(type="button" value="editar observação")