doctype html
html(lang="pt-br")
  head
    title Cadastro de ordem - SAAS
    include includes/head
  body
    .system
      .system__logo
        a(onclick="paraIndex()")
          embed(src="./img/logotipo.svg" alt="Logotipo da LBomfim")
          hr
      form.system__form
        h1.system__form__title(style="text-align: center; font-size: 2.8em") cadastro de ordem
        label.system__form__label(for="codigoOrdem") #[strong número da ordem] (obrigatório)
        input.system__form__input(id="codigoOrdem" type="number" name="codigoOrdem" placeholder="3145879" required)
        button.system__form__submit.primary-button(id="submitCadastro")
          i.fas.fa-plus-circle
          | cadastrar ordem
      .system__help
        button.system__help__button.secondary-button(id="botaoAjuda" onclick="paraPainelAjuda()")
          i.fas.fa-question-circle
          | preciso de ajuda
