doctype html
html(lang="pt-br")
  head
    title Cadastro de ordem - SDEO
    include includes/head
  body
    include includes/painel-ajuda
    include includes/modal-cadastro
    include includes/modal-erro-cadastro
    .system
      .system__logo
        a.system__logo__link(onclick="paraIndex()" tabindex="0")
          embed(src="./img/logotipo.svg" alt="logotipo da LBomfim")
      form.system__form(action="/cadastro" method="POST")
        h1.system__form__title cadastro de ordem
        p.system__form__label(for="codigoOrdem") #[strong número da ordem:]
        label.system__form__placeholder(for="codigoOrdem") é um número do tipo "12345"
        input.system__form__input(id="inputCadastro" type="number" name="numeroOrdem" tabindex="0" maxlength="4")
        button.system__form__submit.primary-button(href="/cadastro" tabindex="0" onclick="CadastrarOrdem()")
          i.fas.fa-plus-circle
          | cadastrar ordem
      .system__link
        p.link(onclick="paraIndex()" tabindex="0") voltar para a tela inicial
      .system__help
        button.system__help__button.secondary-button(id="botaoAjuda" onclick="abrirPainelAjuda()" tabindex="0")
          i.fas.fa-question-circle
          | preciso de ajuda
