doctype html
html(lang="pt-br")
  head
    title LBomfim - SAAS
    include includes/head
  body
    .system
      .system__logo
        a(onclick="paraIndex()")
          embed(src="./img/logotipo.svg" alt="Logotipo da LBomfim")
      .system__quick-access
        div
          button.system__quick-access__call.primary-button
            i.fas.fa-phone-alt
            | ligar para a empresa
        div
          button.system__quick-access__whatsapp
            i.fab.fa-whatsapp
            | acessar o grupo da empresa
        div
          button.system__quick-access__maps
            i.fas.fa-map-marker-alt
            | consultar o google maps
      .system__search
        input.system__search__input(id="inputBusca" name="inputBusca" type="number" placeholder="digite o número da ordem")
        button.system__search__button.primary-button(id="botaoBusca")
          | buscar
          i.fas.fa-search
      .system__add
        button.system__add__button.primary-button(id="botaoParaCadastroOrdem" onclick="paraCadastroOrdem()")
          i.fas.fa-arrow-circle-right
          | cadastrar uma nova ordem
      .system__help
        button.system__help__button.secondary-button(id="botaoAjuda" onclick="paraPainelAjuda()")
          i.fas.fa-question-circle
          | preciso de ajuda
