doctype html
html(lang="pt-br")
  head
    title Detalhes da ordem - SAAS
    include includes/head
  body
    .system
      .system__logo
        a(onclick="paraIndex()")
          embed(src="./img/logotipo.svg" alt="Logotipo da LBomfim")
        hr
      .system__order-details
        h1.system__order-details__title ordem 4325
        .system__order-details__left
          h2.system__order-details__left__subtitle antes
          hr
        .system__order-details__center
        .system__order-details__right
          h2.system__order-details__right__subtitle depois
          hr
      .system__help
        button.system__help__button.secondary-button(id="botaoAjuda" onclick="paraPainelAjuda()")
          i.fas.fa-question-circle
          | preciso de ajuda
