doctype html
html(lang="pt-br")
  head
    title Detalhes da ordem - SDEO
    include includes/head
  body
    include includes/painel-ajuda
    .system
      .system__logo
        a.system__logo__link(onclick="paraIndex()" tabindex="0")
          embed(src="./img/logotipo.svg" alt="Logotipo da LBomfim")
      .system__order-details
        h1#TituloOrdem.system__order-details__title ordem #xxxx
        .system__order-details__observation
          h2.system__order-details__observation__title observação:
          #orderObservationEdit.system__order-details__observation__edit(onclick="editarObservacao()" tabindex="0")
            i.fas.fa-edit
          p.system__order-details__observation__text 
        h2.system__subtitle-order pré-execução:
        .system__order-details__image-grid
          //.system__order-details__image-grid__picture
            .system__order-details__image-grid__picture__remove
              i.fas.fa-times
            img(src="./img/android-icon-192x192.png")
          .system__order-details__image-grid__add
            i.fas.fa-plus-circle
        h2.system__subtitle-order pós-execução:
        .system__order-details__image-grid
          .system__order-details__image-grid__add
            i.fas.fa-plus-circle
        p.link__remove#RemoverOrdem(onclick="RemoverOrdem(i)" tabindex="0") remover ordem
      .system__link
        p.link(onclick="paraIndex()" tabindex="0") voltar para a tela inicial
      .system__help
        button.system__help__button.secondary-button(id="botaoAjuda" onclick="abrirPainelAjuda()" tabindex="0")
          i.fas.fa-question-circle
          | preciso de ajuda
