doctype html
html(lang="pt-br")
  head
    title Painel de Ajuda - SDEO
    include includes/head
  body
    .system
      .system__logo
        a.system__logo__link(onclick="paraIndex()")
          embed(src="./img/logotipo.svg" alt="logotipo da LBomfim")
      .system__guides
        .system__guides__title painel de ajuda
        .system__guides__subtitle qual tarefa você deseja realizar?
        button.system__guides__option.secondary-button(id="ajudaCadastroOrdem" onclick="abrirItemAjuda(1)")
          | cadastrar uma ordem
          i#dropDownCadastro.fas.fa-chevron-down
        .system__guides__option__content
          p #[strong 1º] Através da página inicial, clique em #[strong cadastrar uma ordem]; #[br] #[strong 2º] Preencha o formulário; #[br] #[strong 3º] Efetive o cadastro clicando em #[strong cadastrar ordem].
        button.system__guides__option.secondary-button(id="ajudaConsultarOrdem" onclick="abrirItemAjuda(2)")
          | consultar uma ordem
          i#dropDownConsulta.fas.fa-chevron-down
        .system__guides__option__content
          p #[strong 1º] Através da página inicial, clique em #[strong cadastrar uma ordem]; #[br] #[strong 2º] Preencha o formulário; #[br] #[strong 3º] Efetive o cadastro clicando em #[strong cadastrar ordem].
        button.system__guides__option.secondary-button(id="ajudaEditarObservacao" onclick="abrirItemAjuda(3)")
          | editar uma observação
          i#dropDownEdicao.fas.fa-chevron-down
        .system__guides__option__content
          p #[strong 1º] Através da página inicial, clique em #[strong cadastrar uma ordem]; #[br] #[strong 2º] Preencha o formulário; #[br] #[strong 3º] Efetive o cadastro clicando em #[strong cadastrar ordem].
        button.system__guides__option.secondary-button(id="ajudaImagens" onclick="abrirItemAjuda(5)")
          | adicionar/remover imagens
          i#dropDownRemocao.fas.fa-chevron-down
        .system__guides__option__content
          p #[strong 1º] Através da página inicial, clique em #[strong cadastrar uma ordem]; #[br] #[strong 2º] Preencha o formulário; #[br] #[strong 3º] Efetive o cadastro clicando em #[strong cadastrar ordem].
        button.system__guides__option.secondary-button(id="ajudaRemoverImagem" onclick="abrirItemAjuda(5)")
          | extra: atalhos do teclado
          i#dropDownRemocao.fas.fa-chevron-down
        .system__guides__option__content
          p #[strong 1º] Através da página inicial, clique em #[strong cadastrar uma ordem]; #[br] #[strong 2º] Preencha o formulário; #[br] #[strong 3º] Efetive o cadastro clicando em #[strong cadastrar ordem].
      .system__link
        p.link(onclick="paraIndex()") voltar para a tela inicial
