doctype html
html(lang="pt-br")
  head
    title Resultados da busca - SAAS
    include includes/head
  body
    .system.container
      .system__logo
    
      .system__search
        input.system__search__input(type="text" placeholder="Digite o código do serviço")
        button.system__search__button.primary-button
          | Buscar
          i.fas.fa-search
      .system__search-results
      .system__help
        button.system__help__button.secondary-button
          i.fas.fa-question-circle
          | Preciso de ajuda


