doctype html
html(lang="pt-br")
  head
    title Resultados da busca - SDEO
    include includes/head
  body
    include includes/painel-ajuda
    .system
      .system__logo
        a.system__logo__link(onclick="paraIndex()")
          embed(src="./img/logotipo.svg" alt="Logotipo da LBomfim")
      .system__search(style="bottom: -28px;")
        input.system__search__input(id="inputBusca" name="inputBusca" type="text" placeholder="número da ordem")
        button.system__search__button.primary-button(id="botaoBusca")
          | buscar
          i.fas.fa-search
      .system__search-results
        .system__search-results__title resultados da busca:
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
        .system__search-results__result.secondary-button
          p.system__search-results__result__ordem #[strong 31548]
      .system__link
        p.link(onclick="paraIndex()") voltar para a tela inicial
      .system__help
        button.system__help__button.secondary-button(id="botaoAjuda" onclick="abrirPainelAjuda()")
          i.fas.fa-question-circle
          | preciso de ajuda
