doctype html
html(lang="pt-br")
  head
    title Resultados da busca - SAAS
    include includes/head
  body
    .system
      .system__logo
        a(onclick="paraIndex()")
          embed(src="./img/logotipo.svg" alt="Logotipo da LBomfim")
      .system__search
        input.system__search__input(id="inputBusca" name="inputBusca" type="text" placeholder="Digite o código do serviço")
        button.system__search__button.primary-button(id="botaoBusca")
          | Buscar
          i.fas.fa-search
      .system__search-results
        .system__search-results__result
          p.system__search-results__result__ordem #[strong 31548]
          p.system__search-results__result__nome-cliente Gabriella Peres Cunha

      .system__help
        button.system__help__button.secondary-button(id="botaoAjuda" onclick="paraPainelAjuda()")
          i.fas.fa-question-circle
          | Preciso de ajuda
